@import "./global.scss";

@import "./components/header.scss";
@import "./components/carousel.scss";
@import "./components/brands.scss";
@import "./components/social_icons.scss";
@import "./components/typedwriter.scss";
@import "./components/vframe.scss";
@import "./components/nav.scss";
@import "./components/cards.scss";
@import "./components/timeline.scss";
@import "./components/footer.scss";
@import "./components/discography.scss";
@import "./components/photos.scss";
@import "./components/modal.scss";
@import "./components/hero.scss";
@import "./components/curtain.scss";
@import "./components/videos.scss";
@import "./components/featured_carousel.scss";

@import "./slick.scss";
@import "./slick-theme.scss";


#app-root {
	overflow-y: auto;
	height: 100%;
	position: relative;
}

html {
	height: 100%;
}

body {
	background: #111 url(/media/images/global/pattern_hex_2.png) repeat;
	margin: 0;
	@include Roboto(100);
	height: 100%;
	position: relative;
	z-index: 1;

	&:before {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.95+100 */
		background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



		content: '';
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	#main-wrap {
		min-height: 100%;

		ul {
			// width: 100%;
			text-align: center;
		}
	}
}

#call-to-action {
	display: inline-block;
	padding: 30px 15px;
	text-align: center;
	button {
		border: 2px solid $knWhite;
		border-radius: 0;
		background: rgba(243, 244, 245, 0.0);
		transition: .1s background ease-in-out;
		&:hover {
			background: $knWhite;
		}
	}
	a {						
		color: rgba(243, 244, 245, 1.0);
		transition: .1s color ease-in-out;
		span {
			@include Roboto(400, uppercase, 5px);
		}
		&:hover {
			button {
				color: $knBlueShade3;	
			}
			text-shadow: none;
			text-decoration: none;
		}
	}
	
}

// #main {
// 	&.page-index {
// 		top: 100%; 
// 		position: absolute; 
// 		width: 100%;
// 	}
	
// 	#main-content {
// 		padding-top: 70px;
// 	}
// }


// global layout class for general formatting on articles
.layout {
	padding: 25px;
	h1 {
		@include RobotoCondensed;
		color: #fff;
		&:first-child {
			margin-top: 0;
		}
	}
	img {
		width: 100%;
		border: 1px solid #444;
	}
}

