.container-full {
  margin: 0 auto;
  width: 100%; }

#main-wrap {
  position: relative; }

#main-wrap #logo {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff; }
  #main-wrap #logo h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-transform: auto;
    letter-spacing: auto; }
  #main-wrap #logo img {
    margin: -155px 0 0 0;
    max-width: 100%; }

#header-wrap {
  height: 100%;
  width: 100%; }

#header-inner {
  position: absolute;
  top: 50%;
  margin-top: -75px;
  width: 100%;
  max-height: 75%; }

#upcoming {
  background: #0f0f0f;
  padding: 0;
  margin: 0; }
  #upcoming ul {
    padding: 0;
    margin: 0; }
  #upcoming li {
    list-style: none;
    margin: 0;
    padding: 0; }

.slides {
  transition: 0.5s all ease-in-out; }

#card-carousel,
#timeline-months {
  position: relative; }
  #card-carousel .carousel-nav,
  #timeline-months .carousel-nav {
    z-index: 2; }
    #card-carousel .carousel-nav a.carousel-next,
    #card-carousel .carousel-nav a.carousel-prev,
    #timeline-months .carousel-nav a.carousel-next,
    #timeline-months .carousel-nav a.carousel-prev {
      color: #fff;
      position: absolute;
      z-index: 2;
      top: 50%;
      margin-top: -20px; }
      #card-carousel .carousel-nav a.carousel-next i.fa,
      #card-carousel .carousel-nav a.carousel-prev i.fa,
      #timeline-months .carousel-nav a.carousel-next i.fa,
      #timeline-months .carousel-nav a.carousel-prev i.fa {
        color: #FFEB00;
        font-size: 40px;
        padding: 20px;
        transition: 0.2s all ease-in-out; }
      #card-carousel .carousel-nav a.carousel-next:hover i.fa,
      #card-carousel .carousel-nav a.carousel-prev:hover i.fa,
      #timeline-months .carousel-nav a.carousel-next:hover i.fa,
      #timeline-months .carousel-nav a.carousel-prev:hover i.fa {
        color: #fff;
        cursor: pointer; }
      #card-carousel .carousel-nav a.carousel-next span,
      #card-carousel .carousel-nav a.carousel-prev span,
      #timeline-months .carousel-nav a.carousel-next span,
      #timeline-months .carousel-nav a.carousel-prev span {
        display: none; }
    #card-carousel .carousel-nav a.carousel-next,
    #timeline-months .carousel-nav a.carousel-next {
      right: 0; }

#timeline-months,
#card-carousel {
  position: relative;
  padding-top: 25px; }
  #timeline-months h1.carousel-title,
  #card-carousel h1.carousel-title {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 21px;
    margin: 0 25px 25px; }
  #timeline-months .carousel-inner,
  #card-carousel .carousel-inner {
    overflow: auto !important; }
    #timeline-months .carousel-inner .title h1,
    #card-carousel .carousel-inner .title h1 {
      margin: 0 0 40px 0;
      text-align: center;
      font-size: 46px; }
    #timeline-months .carousel-inner ul.slides,
    #card-carousel .carousel-inner ul.slides {
      white-space: nowrap;
      width: 100%;
      margin: 0;
      padding: 0;
      position: relative; }
      #timeline-months .carousel-inner ul.slides li.slide,
      #card-carousel .carousel-inner ul.slides li.slide {
        display: inline-block;
        white-space: nowrap;
        padding: 0 12.5%;
        width: 100%; }
        #timeline-months .carousel-inner ul.slides li.slide .timeline-month-inner-wrap > div,
        #card-carousel .carousel-inner ul.slides li.slide .timeline-month-inner-wrap > div {
          transition: 0.25s all ease-in-out;
          opacity: 0; }
        #timeline-months .carousel-inner ul.slides li.slide .timeline-month-inner-wrap > .active,
        #card-carousel .carousel-inner ul.slides li.slide .timeline-month-inner-wrap > .active {
          opacity: 1; }
      #timeline-months .carousel-inner ul.slides p,
      #card-carousel .carousel-inner ul.slides p {
        font-size: 18px;
        color: #5DB0CC; }
      #timeline-months .carousel-inner ul.slides .image,
      #card-carousel .carousel-inner ul.slides .image {
        text-align: center; }
    #timeline-months .carousel-inner .slides-wrap,
    #card-carousel .carousel-inner .slides-wrap {
      position: relative; }
  #timeline-months .slide-status,
  #card-carousel .slide-status {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    display: none;
    margin: 0 0 15px; }
    #timeline-months .slide-status ul,
    #card-carousel .slide-status ul {
      padding: 0; }
    #timeline-months .slide-status li,
    #card-carousel .slide-status li {
      display: inline-block;
      margin: 0 10px;
      cursor: pointer;
      transition: 0.25s all ease-in-out;
      height: 7px;
      width: 7px;
      border-radius: 5px;
      background: #555; }
      #timeline-months .slide-status li.active,
      #card-carousel .slide-status li.active {
        background: #efefef; }
      #timeline-months .slide-status li:hover,
      #card-carousel .slide-status li:hover {
        background: #eee; }
  #timeline-months h1,
  #card-carousel h1 {
    white-space: normal; }
  #timeline-months .bullets,
  #card-carousel .bullets {
    white-space: normal; }

.carousel-inner-prev:before {
  content: '';
  background: url("../media/images/nav_arrow_prev.png") no-repeat center center rgba(0, 0, 0, 0.75);
  border-radius: 64px;
  border: black solid 5px;
  width: 128px;
  height: 128px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  float: left;
  margin-top: -64px;
  opacity: 0.5;
  transition: 0.25s opacity ease-in-out;
  z-index: 2; }

.carousel-inner-prev:hover:before {
  opacity: 1;
  cursor: pointer; }

.carousel-inner-prev span {
  display: none; }

.carousel-inner-next:before {
  content: '';
  background: url("../media/images/nav_arrow_next.png") no-repeat center center rgba(0, 0, 0, 0.75);
  border-radius: 64px;
  border: black solid 5px;
  width: 128px;
  height: 128px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  float: right;
  margin-top: -64px;
  opacity: 0.5;
  transition: 0.25s opacity ease-in-out;
  z-index: 2; }

.carousel-inner-next:hover:before {
  opacity: 1;
  cursor: pointer; }

.carousel-inner-next span {
  display: none; }

@media (max-width: 991px) {
  .carousel-inner-prev:before,
  .carousel-inner-next:before {
    background-size: cover !important;
    width: 64px !important;
    height: 64px !important;
    margin-top: -32px;
    padding: 10px; } }

@media (max-width: 767px) {
  .carousel-inner-prev:before,
  .carousel-inner-next:before {
    background-size: cover !important;
    width: 35px !important;
    height: 35px !important;
    margin-top: -18px;
    padding: 10px; } }

#brands {
  background: #191919;
  padding: 50px 0 50px; }
  #brands h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: auto;
    letter-spacing: auto;
    margin-bottom: 50px;
    text-align: center; }

#brand-carousel {
  padding-top: 20px; }
  #brand-carousel h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: auto;
    letter-spacing: auto;
    font-size: 28px;
    text-align: center; }
  #brand-carousel ul {
    white-space: nowrap;
    max-width: 100%;
    overflow-x: scroll;
    padding: 25px 0; }
  #brand-carousel li {
    list-style: none;
    display: inline-block;
    white-space: nowrap;
    margin: 0 20px; }
  #brand-carousel img {
    max-height: 35px;
    opacity: 0.65;
    transition: 0.2s opacity ease-in-out; }
    #brand-carousel img:hover {
      opacity: 1;
      cursor: pointer; }

#social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  #social-icons ul li {
    padding: 0;
    margin: 0;
    display: inline-block; }
    #social-icons ul li a {
      margin: 20px 10px;
      transform: 1s opacity ease-in-out; }
      #social-icons ul li a:hover {
        opacity: 1; }
      #social-icons ul li a:not(:hover) {
        opacity: 0.5; }

#typedwriter {
  font-size: 68px;
  margin: 75px 0 75px 0; }
  #typedwriter p {
    display: inline; }
  #typedwriter span {
    display: inline; }
  #typedwriter #typed {
    color: #5DB0CC; }

#vframe-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("/media/images/video_bg.png") no-repeat;
  background-size: cover;
  transition: 1s opacity; }

#vframe:before {
  position: fixed;
  content: '';
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -99;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(102, 94, 0, 0.6);
  transition: 1s opacity; }

#nav-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10; }
  #nav-wrap nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px; }
    #nav-wrap nav ul, #nav-wrap nav li {
      margin: 0;
      padding: 0;
      list-style: none; }
    #nav-wrap nav ul {
      text-align: center;
      opacity: 1;
      transition: 0.25s opacity ease-in-out; }
    #nav-wrap nav li {
      margin: 25px 0;
      display: inline-block; }
    #nav-wrap nav a {
      padding: 10px;
      margin: 10px;
      cursor: pointer;
      border-bottom: 2px solid rgba(255, 255, 255, 0);
      transition: 0.25s all ease-in-out;
      text-decoration: none; }
      #nav-wrap nav a:hover {
        text-decoration: none;
        border-bottom: 2px solid white; }
    #nav-wrap nav #nav-expander {
      z-index: 50;
      opacity: 0;
      transition: .25s all ease-in-out;
      position: absolute;
      top: 0;
      padding-top: 20px;
      left: 50%;
      margin-left: -25px;
      display: none;
      height: 50px;
      width: 50px;
      border-radius: 25px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      background: rgba(0, 0, 0, 0.25); }
      #nav-wrap nav #nav-expander:hover {
        background: rgba(0, 0, 0, 0.5); }
      #nav-wrap nav #nav-expander:before {
        content: '';
        display: block;
        height: 2px;
        width: 30px;
        border-radius: 2px;
        background: rgba(255, 255, 255, 0.75);
        position: absolute;
        top: 50%;
        left: 8px;
        margin-top: -1px;
        transform: rotate(0);
        transition: 0.5s all ease-in-out; }
      #nav-wrap nav #nav-expander:after {
        content: '';
        display: block;
        height: 2px;
        width: 30px;
        border-radius: 2px;
        background: rgba(255, 255, 255, 0.75);
        position: absolute;
        top: 50%;
        left: 8px;
        margin-top: -1px;
        transform: rotate(90deg);
        transition: 0.5s all ease-in-out; }
      #nav-wrap nav #nav-expander:hover {
        cursor: pointer;
        border-color: white; }
        #nav-wrap nav #nav-expander:hover:before {
          background: white; }
        #nav-wrap nav #nav-expander:hover:after {
          background: white; }
  @media (max-width: 767px) {
    #nav-wrap nav ul {
      opacity: 0;
      display: none; }
    #nav-wrap nav #nav-expander {
      display: block;
      opacity: 1; } }

@media (max-width: 991px) {
  #nav-wrap nav #nav-expander {
    position: fixed;
    top: 0;
    padding-top: 20px; } }

@media (max-width: 1199px) {
  #nav-wrap nav #nav-expander {
    position: fixed;
    top: 0;
    margin-top: 20px; } }

.card-wrap {
  position: relative;
  overflow: hidden; }
  .card-wrap .card {
    background-size: cover;
    overflow: hidden; }

#card-carousel {
  background: #333; }
  #card-carousel ul {
    margin: 0;
    padding: 0; }
  #card-carousel .card {
    position: relative;
    min-height: 300px;
    z-index: 1; }
    #card-carousel .card img {
      display: none; }
    #card-carousel .card:before {
      content: '';
      display: block;
      position: absolute;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+47&0.78+0,0+41 */
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, transparent 50%, transparent 47%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, transparent 50%, transparent 47%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, transparent 50%, transparent 47%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7000000', endColorstr='#00000000',GradientType=0 );
      /* IE6-9 */
      z-index: 2;
      width: 100%;
      height: 100%; }
  #card-carousel ul.slides-wrap {
    white-space: nowrap;
    padding-bottom: 25px; }
    #card-carousel ul.slides-wrap li {
      width: 100%;
      height: 100%;
      list-style: none;
      display: inline-table; }
      #card-carousel ul.slides-wrap li h1 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 200;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-size: 21px;
        margin: 25px;
        position: relative;
        z-index: 2; }

@media (max-width: 991px) {
  #card-carousel ul.slides-wrap li {
    width: 50%; } }

#upcoming-carousel-inner .card {
  height: 400px; }
  #upcoming-carousel-inner .card h1.title {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px; }
  #upcoming-carousel-inner .card p.summary {
    background: rgba(0, 0, 0, 0.75);
    padding: 25px;
    margin: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    white-space: normal; }
  #upcoming-carousel-inner .card span.upcoming {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 24px;
    background: rgba(22, 10, 64, 0.75);
    position: absolute;
    top: 32px;
    left: -95px;
    transform: rotate(-45deg);
    padding: 15px 100px; }
  #upcoming-carousel-inner .card img {
    display: none; }

@media (max-width: 991px) {
  #upcoming-carousel-inner .card span.upcoming {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px; } }

@media (max-width: 1199px) {
  #upcoming-carousel-inner .card {
    height: 625px; } }

@media (min-width: 1200px) {
  #upcoming-carousel-inner .card {
    height: 850px; } }

#timeline-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("/media/images/timeline_bg_test_3.jpg") no-repeat;
  background-size: cover; }

#timeline-year-control {
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.3); }
  #timeline-year-control #timeline-year-control-content {
    text-align: center; }
    #timeline-year-control #timeline-year-control-content a {
      cursor: pointer;
      text-decoration: none;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 200;
      text-transform: auto;
      letter-spacing: 1px;
      font-size: 22px;
      transition: 0.2s all ease-in-out;
      color: #FFEB00; }
      #timeline-year-control #timeline-year-control-content a:link {
        text-decoration: none; }
      #timeline-year-control #timeline-year-control-content a:hover {
        color: #fff; }
      #timeline-year-control #timeline-year-control-content a.active {
        color: #fff; }
    #timeline-year-control #timeline-year-control-content ul {
      margin: 0;
      padding: 0;
      display: inline; }
      #timeline-year-control #timeline-year-control-content ul li {
        margin: 0;
        padding: 0 15px;
        list-style: none;
        display: inline-block; }
        #timeline-year-control #timeline-year-control-content ul li.active a {
          color: #FFEB00; }
    #timeline-year-control #timeline-year-control-content #timeline-year-control-next {
      margin-right: 25px;
      font-size: 16px;
      text-transform: uppercase;
      top: -2px;
      position: relative; }
    #timeline-year-control #timeline-year-control-content #timeline-year-control-prev {
      margin-left: 25px;
      font-size: 16px;
      text-transform: uppercase;
      top: -2px;
      position: relative; }

#timeline-months {
  margin: 0;
  padding: 25px 0 50px;
  background: rgba(5, 5, 5, 0.8);
  overflow-y: auto;
  transition: 0.25s all ease-in-out; }
  #timeline-months > ul {
    margin: 0 auto;
    padding: 0; }
  #timeline-months .timeline-month {
    margin: 0;
    padding: 0 25px;
    list-style: none; }
    #timeline-months .timeline-month .timeline-month-title {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 24px;
      color: #a0a0a0;
      text-align: left;
      padding: 40px 0 10px 0;
      margin: 0; }
    #timeline-months .timeline-month .timeline-month-nodes {
      margin: 0;
      padding: 0;
      position: relative;
      height: 40px;
      margin-bottom: 10px; }
      #timeline-months .timeline-month .timeline-month-nodes:after {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background: rgba(255, 235, 0, 0.6);
        position: absolute;
        bottom: 0;
        border-radius: 5px;
        z-index: 1; }
      #timeline-months .timeline-month .timeline-month-nodes .timeline-nodes {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        display: inline-block;
        height: 100%; }
        #timeline-months .timeline-month .timeline-month-nodes .timeline-nodes > div {
          height: 100%;
          display: table; }
        #timeline-months .timeline-month .timeline-month-nodes .timeline-nodes a {
          font-family: 'Roboto Condensed', sans-serif;
          font-weight: 200;
          text-transform: auto;
          letter-spacing: 0;
          font-size: 20px;
          color: #FFEB00;
          transition: 0.2s all ease-in-out;
          display: table-cell;
          vertical-align: middle;
          height: 40px;
          width: 40px;
          z-index: 10;
          top: 18px;
          position: relative; }
          #timeline-months .timeline-month .timeline-month-nodes .timeline-nodes a span {
            display: none; }
          #timeline-months .timeline-month .timeline-month-nodes .timeline-nodes a:link {
            text-decoration: none; }
          #timeline-months .timeline-month .timeline-month-nodes .timeline-nodes a:hover {
            color: #fff; }
          #timeline-months .timeline-month .timeline-month-nodes .timeline-nodes a.selected:before {
            background: #fff; }
          #timeline-months .timeline-month .timeline-month-nodes .timeline-nodes a:before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background: #FFEB00;
            border-radius: 15px;
            position: absolute;
            left: 50%;
            bottom: -7px;
            margin-left: -10px;
            top: 9px; }

.timeline-popover {
  opacity: 0;
  padding: 10px 15px;
  background: #ccbc00;
  position: absolute;
  transition: 0.25s opacity ease-in-out;
  border: 1px solid #000;
  bottom: 90%;
  left: 10px;
  z-index: 0;
  min-width: 150px; }
  .timeline-popover:after {
    content: '';
    border-top: 10px solid #ccbc00;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0;
    position: absolute;
    top: 100%;
    left: 0; }
  .timeline-popover h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: auto;
    letter-spacing: auto;
    padding: 0;
    font-size: 14px;
    white-space: nowrap;
    margin: 0;
    color: #000;
    text-align: center; }
  .timeline-popover date {
    color: #000;
    font-weight: bold;
    white-space: nowrap;
    text-align: center; }
  .timeline-popover img.timeline-popover-hero {
    max-width: 100%; }
  .timeline-popover.active {
    opacity: 1;
    z-index: 10; }
  .timeline-popover.selected {
    opacity: 1;
    z-index: 10;
    background: #fff; }
    .timeline-popover.selected:after {
      content: '';
      border-top: 10px solid #fff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 0;
      position: absolute;
      top: 100%;
      left: 0; }
  .timeline-popover .timeline-popover-hero {
    max-height: 125px;
    overflow: hidden; }
    .timeline-popover .timeline-popover-hero img {
      width: 100%; }

#timeline-content {
  background: rgba(0, 0, 0, 0.85);
  transition: 0.25s all ease-in-out;
  overflow-y: auto; }
  #timeline-content h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 48px;
    color: #FFEB00;
    margin: 30px 0 0 0; }
  #timeline-content date {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 20px;
    color: #fff; }
  #timeline-content p {
    font-size: 18px; }

#timeline-wrap {
  height: 100%;
  top: 0; }

#footer {
  background: #202020;
  padding: 25px;
  text-align: center; }
  #footer a {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    text-transform: auto;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 7px 5px;
    transition: 0.5s all ease-in-out; }
    #footer a:link {
      text-decoration: none; }
    #footer a:hover {
      color: #FFEB00; }

#discography .col-lg-12 h1:first-of-type {
  color: #FFEB00; }

#discography .col-sm-8 h1 {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0; }

#discography .col-sm-8 date {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: auto;
  letter-spacing: auto;
  color: #ccc;
  font-size: 20px;
  padding: 5px 0 15px 0;
  display: block; }

#discography .col-sm-8 ul {
  margin: 0;
  padding: 0; }
  #discography .col-sm-8 ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
    #discography .col-sm-8 ul li .audio-track {
      text-align: left;
      height: 32px;
      width: 100%;
      display: table;
      border-top: 1px solid #444;
      background: #181818;
      padding: 0 0 0 10px; }
      #discography .col-sm-8 ul li .audio-track span:first-child {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-transform: auto;
        letter-spacing: auto;
        display: table-cell;
        margin-right: 10px;
        vertical-align: middle; }
      #discography .col-sm-8 ul li .audio-track span:not(:first-child) {
        display: none; }
      #discography .col-sm-8 ul li .audio-track audio {
        display: table-cell;
        float: right; }
    #discography .col-sm-8 ul li:last-child .audio-track {
      border-bottom: 1px solid #444; }

#photo-carousel {
  position: relative; }
  #photo-carousel #photo-carousel-inner {
    position: relative; }
  #photo-carousel #photo-carousel-next,
  #photo-carousel #photo-carousel-prev {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    font-size: 22px;
    color: #fff;
    transition: 0.2s all ease-in-out; }
    #photo-carousel #photo-carousel-next:hover,
    #photo-carousel #photo-carousel-prev:hover {
      color: #FFEB00;
      cursor: pointer; }
  #photo-carousel #photo-carousel-next {
    left: 0; }
    #photo-carousel #photo-carousel-next:before {
      position: absolute;
      top: 10px;
      left: 0; }
  #photo-carousel #photo-carousel-prev {
    right: 0; }
    #photo-carousel #photo-carousel-prev:before {
      position: absolute;
      top: 10px;
      right: 0; }

#photo-gallery.tile-gallery {
  padding: 45px 25px; }
  #photo-gallery.tile-gallery h1 {
    color: #FFEB00; }
  #photo-gallery.tile-gallery > .col-lg-12 {
    float: none !important; }
  #photo-gallery.tile-gallery ul {
    margin: 0;
    padding: 0;
    text-align: center; }
  #photo-gallery.tile-gallery li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin-top: -5px;
    border: 1px solid #000;
    transition: 0.3s all ease-in-out; }
    #photo-gallery.tile-gallery li:hover {
      border: 1px solid #fff;
      cursor: pointer; }
    #photo-gallery.tile-gallery li .photo-wrap {
      display: table;
      height: 100%;
      position: relative; }
    #photo-gallery.tile-gallery li img {
      width: auto;
      position: absolute;
      top: 0;
      border: 0;
      max-height: 100%;
      min-height: 100%; }
    @media (min-width: 1200px) {
      #photo-gallery.tile-gallery li {
        height: 350px;
        width: 350px; } }
    @media (max-width: 1199px) {
      #photo-gallery.tile-gallery li {
        height: 200px;
        width: 200px; } }
    @media (max-width: 991px) {
      #photo-gallery.tile-gallery li {
        height: 300px;
        width: 300px; } }
    @media (max-width: 767px) {
      #photo-gallery.tile-gallery li {
        height: 150px;
        width: 150px; } }
    @media (max-width: 480px) {
      #photo-gallery.tile-gallery li {
        width: 100%; }
        #photo-gallery.tile-gallery li img {
          top: -55%;
          max-height: none; } }

#photo-carousel.carousel-gallery h1 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 10px; }

#photo-carousel.carousel-gallery > div {
  padding: 0 40px;
  overflow: hidden; }

#photo-carousel.carousel-gallery > .col-lg-12 {
  float: none !important; }

#photo-carousel.carousel-gallery ul {
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  height: 225px; }

#photo-carousel.carousel-gallery li {
  margin: 0 15px;
  border: 1px solid #000;
  transition: 0.3s all ease-in-out;
  padding: 0;
  list-style: none;
  display: inline-block;
  height: 100%; }
  #photo-carousel.carousel-gallery li:hover {
    border: 1px solid #fff;
    cursor: pointer; }
  #photo-carousel.carousel-gallery li:first-child {
    margin-left: 0; }
  #photo-carousel.carousel-gallery li:last-child {
    margin-right: 0; }
  #photo-carousel.carousel-gallery li .photo-wrap {
    height: 100%;
    position: relative; }
  #photo-carousel.carousel-gallery li img {
    height: 100%; }

#modal {
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  overflow-y: auto;
  padding-bottom: 70px; }
  #modal .container {
    position: relative; }
  #modal.active {
    opacity: 1;
    z-index: 11; }
  #modal #modal-close {
    color: #aaa;
    position: absolute;
    right: 0;
    transition: 0.2s all ease-in-out;
    font-size: 30px;
    top: 48px;
    z-index: 13;
    padding: 22px; }
    #modal #modal-close:hover {
      color: #fff;
      cursor: pointer; }
    #modal #modal-close span {
      display: none; }
  #modal #modal-inner {
    margin-top: 70px; }
    #modal #modal-inner h1 {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: -1px;
      font-size: 48px;
      color: #FFEB00;
      text-align: center;
      margin: 0 0 25px; }
    #modal #modal-inner iframe {
      width: 100%;
      height: 560px; }
  #modal .modal-photo img {
    width: 100%; }
  #modal .modal-video video {
    width: 100%; }

#hero-wrap {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  margin-top: -70px; }
  #hero-wrap #hero {
    background: #000; }
    #hero-wrap #hero img {
      width: 100%; }

#curtain-wrap #curtain {
  background: rgba(50, 50, 0, 0);
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 0;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  transition: 0.3s all ease-in-out; }
  #curtain-wrap #curtain.active {
    min-width: 100%;
    background: #321900; }

#video-carousel {
  position: relative; }
  #video-carousel #video-carousel-inner {
    position: relative; }
  #video-carousel #video-carousel-next,
  #video-carousel #video-carousel-prev {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    font-size: 22px;
    color: #fff;
    transition: 0.2s all ease-in-out; }
    #video-carousel #video-carousel-next:hover,
    #video-carousel #video-carousel-prev:hover {
      color: #FFEB00;
      cursor: pointer; }
  #video-carousel #video-carousel-next {
    left: 0; }
    #video-carousel #video-carousel-next:before {
      position: absolute;
      top: 10px;
      left: 0; }
  #video-carousel #video-carousel-prev {
    right: 0; }
    #video-carousel #video-carousel-prev:before {
      position: absolute;
      top: 10px;
      right: 0; }

#video-gallery.tile-gallery {
  padding: 45px 25px; }
  #video-gallery.tile-gallery h1 {
    color: #FFEB00; }
  #video-gallery.tile-gallery > .col-lg-12 {
    float: none !important; }
  #video-gallery.tile-gallery ul {
    margin: 0;
    padding: 0;
    text-align: center; }
  #video-gallery.tile-gallery li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin-top: -5px;
    border: 1px solid #000;
    transition: 0.3s all ease-in-out; }
    #video-gallery.tile-gallery li:hover {
      border: 1px solid #fff;
      cursor: pointer; }
    #video-gallery.tile-gallery li .video-wrap {
      display: table;
      height: 100%;
      position: relative; }
    #video-gallery.tile-gallery li img {
      width: auto;
      position: absolute;
      top: 0;
      border: 0;
      max-height: 100%;
      min-height: 100%; }
    @media (min-width: 1200px) {
      #video-gallery.tile-gallery li {
        height: 350px;
        width: 350px; } }
    @media (max-width: 1199px) {
      #video-gallery.tile-gallery li {
        height: 200px;
        width: 200px; } }
    @media (max-width: 991px) {
      #video-gallery.tile-gallery li {
        height: 300px;
        width: 300px; } }
    @media (max-width: 767px) {
      #video-gallery.tile-gallery li {
        height: 150px;
        width: 150px; } }
    @media (max-width: 480px) {
      #video-gallery.tile-gallery li {
        width: 100%; }
        #video-gallery.tile-gallery li img {
          top: -55%;
          max-height: none; } }

#video-carousel.carousel-gallery h1 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 10px; }

#video-carousel.carousel-gallery > div {
  padding: 0 40px;
  overflow: hidden; }

#video-carousel.carousel-gallery > .col-lg-12 {
  float: none !important; }

#video-carousel.carousel-gallery ul {
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  height: 225px; }

#video-carousel.carousel-gallery li {
  margin: 0 15px;
  border: 1px solid #000;
  transition: 0.3s all ease-in-out;
  padding: 0;
  list-style: none;
  display: inline-block;
  height: 100%; }
  #video-carousel.carousel-gallery li:hover {
    border: 1px solid #fff;
    cursor: pointer; }
  #video-carousel.carousel-gallery li:first-child {
    margin-left: 0; }
  #video-carousel.carousel-gallery li:last-child {
    margin-right: 0; }
  #video-carousel.carousel-gallery li .video-wrap {
    height: 100%;
    position: relative; }
  #video-carousel.carousel-gallery li img {
    height: 100%; }

#featured-carousel {
  background: #222; }

#app-root {
  overflow-y: auto;
  height: 100%;
  position: relative; }

html {
  height: 100%; }

body {
  background: #021016;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: auto;
  letter-spacing: auto;
  height: 100%; }
  body #main-wrap {
    min-height: 100%; }
    body #main-wrap ul {
      text-align: center; }

#call-to-action {
  display: inline-block;
  padding: 30px 15px;
  text-align: center; }
  #call-to-action button {
    border: 2px solid #F3F4F5;
    border-radius: 0;
    background: rgba(243, 244, 245, 0);
    transition: .1s background ease-in-out; }
    #call-to-action button:hover {
      background: #F3F4F5; }
  #call-to-action a {
    color: #f3f4f5;
    transition: .1s color ease-in-out; }
    #call-to-action a span {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 5px; }
    #call-to-action a:hover {
      text-shadow: none;
      text-decoration: none; }
      #call-to-action a:hover button {
        color: #23424D; }

#main.page-index {
  top: 100%;
  position: absolute;
  width: 100%; }

#main #main-content {
  padding-top: 70px; }

.layout {
  background: #222;
  padding: 25px; }
  .layout h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform: auto;
    letter-spacing: auto;
    color: #fff; }
    .layout h1:first-child {
      margin-top: 0; }
  .layout img {
    width: 100%;
    border: 1px solid #444; }

/*# sourceMappingURL=app.css.map */