
// card styles
.card-wrap {
	position: relative;
	overflow: hidden;

	.card {
		background-size: cover;
		overflow: hidden;
	}
}

#card-carousel {
	ul {
		margin: 0;
		padding: 0;
	}
	// background: #333;
	a.card {
		position: relative;
		min-height: 300px;
		z-index: 1;
		display: block;
		text-decoration: none;
		
		background-position-x: 50%;
		background-position-y: 0;
		background-size: auto 300px;
		background-origin: padding-box;

		transition: 0.3s all ease-in-out;

		h1 {
			color: $knGrayLight;
			transition: 0.3s all ease-in-out;
		}

		&:hover {
			cursor: pointer;
			background-size: auto 330px;
			background-position-y: -15px;

			h1 {
				color: #fff;
			}
		}

		

		img {
			display: none;
		}
		
		&:before {
			content: '';
			display: block;
			position: absolute;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+47&0.78+0,0+41 */
			background: -moz-linear-gradient(top,  rgba(0,0,0,0.90) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 47%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0.90) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 47%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,0.90) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 47%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

			z-index: 2;

			width: 100%;
			height: 100%;
		}
		
	}
	ul.slides-wrap {
		white-space: nowrap;
		
		li {
			width: 100%;
			height: 100%;
			list-style: none;
			display: inline-table;


			// .col-lg-3.col-md-4.col-sm-6.col-xs-12

			h1 {
				@include RobotoCondensed(200, capitalize, 1px);
				font-size: 21px;
				margin: 25px;
				position: relative;
				z-index: 2;
			}
		}
	}
}

#card-carousel {
	ul.slides-wrap {
		li {
			width: 100%;
		}
	}
}

@include breakpoint(xxs) {
	#card-carousel {
		ul.slides-wrap {
			li {
				width: 100%;
			}
		}
	}
}

@include breakpoint(xs) {
	#card-carousel {
		ul.slides-wrap {
			li {
				width: 100%;
			}
		}
	}
}

@include breakpoint(sm) {
	#card-carousel {
		ul.slides-wrap {
			li {
				width: 100%;
			}
		}
	}
}

@include breakpoint(md) {
	#card-carousel {
		ul.slides-wrap {
			li {
				width: 50%;
			}
		}
	}
}

@include breakpoint(lg) {
	#card-carousel {
		ul.slides-wrap {
			li {
				width: 25%;
			}
		}
	}
}


#upcoming-carousel-inner {
	.card {

		height: 400px;

		h1.title {
			width: 100%;
			background: rgba(0,0,0,0.5);
			padding: 20px;
			margin: 0 auto;
			text-align: center;
			text-transform: uppercase;;
			letter-spacing: 4px;
		}

		p.summary {
			background: rgba(0,0,0,0.75);
			padding: 25px;
			margin: 0;
			position: absolute;
			bottom: 0;
			text-align: center;
			width: 100%;

			white-space: normal;
		}

		span.upcoming {
			@include RobotoCondensed(100, uppercase, 3px);
			font-size: 24px;

			background: $knPurpleDarkWash;
			position: absolute;
			top: 32px;
			left: -95px;
			transform: rotate(-45deg);
			padding: 15px 100px;

			// text-transform: uppercase;
			// letter-spacing: 3px;
		}
		
		img {
			display: none;
		}
	}
}

// @include breakpoint(sm) {
// 	#upcoming-carousel-inner {
// 		.card {
// 			span.upcoming {
// 				font-size: 14px;
// 				padding-top: 10px;
// 				padding-bottom: 10px;
// 			}
// 		}
// 	}
// }

// @include breakpoint(md) {
// 	#upcoming-carousel-inner {
// 		.card {
// 			height: 625px;
// 		}	
// 	}
// }

// @include breakpoint(lg) {
// 	#upcoming-carousel-inner {
// 		.card {
// 			height: 850px;
// 		}	
// 	}
// }