#upcoming {
	background: rgba(15,15,15,1.0);
	padding: 0;
	margin: 0;

	ul {
		padding: 0;
		margin: 0;
	}
	
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.slides {
	transition: 0.5s all ease-in-out;
}

#card-carousel,
#timeline-months {
	position: relative;

	.carousel-nav {

		z-index: 2;

		a.carousel-next,
		a.carousel-prev {
			// color: #fff;
			
			// padding: 10px;

			i.fa {
				position: absolute;
			    z-index: 2;
			    top: 50%;
			    margin-top: -30px;

				color: $grYellow;
				font-size: 40px;
				padding: 20px;
				transition: 0.2s all ease-in-out;
				text-shadow: 0 0 20px rgba(0, 0, 0, 1);
			}

			&:hover {
				i.fa {
					color: #fff;
					cursor: pointer;
					font-size: 50px;

					margin-top: -35px;
				}
					
			}

			span {
				display: none;
			}
		}

		a.carousel-prev {
			i.fa {
				left: 0;
			}
		}

		a.carousel-next {
			i.fa {
				right: 0;
			}
		}
	}
	
}

#card-carousel {
	.carousel-inner {
		box-shadow: 0 0 20px rgba(0, 0, 0, 1);
	}
}

#timeline-months,
#card-carousel {
		position: relative;
		// overflow: hidden;

		// h1 {
		// 	@include Roboto(100);
		// }
		padding-top: 25px;

		h1.carousel-title {
			text-align: center;
			@include RobotoCondensed(100, uppercase, 3px);
			font-size: 21px;
			margin: 0 25px 25px;
		}

		.carousel-inner {
			overflow: auto !important;
			
			.title {
				h1 {
					margin: 0 0 40px 0;		
					text-align: center;
					font-size: 46px;
				}
			}
			ul.slides {
				white-space: nowrap;
				width: 100%;
				margin: 0;
				padding: 0;
				position: relative;
				li.slide {
					display: inline-block;
					white-space: nowrap;
					padding: 0 12.5%;
					width: 100%;

					.timeline-month-inner-wrap {
						& > div {
							transition: 0.25s all ease-in-out;
							opacity: 0;
						}
						& > .active {
							opacity: 1;
						}
					}
					
				}
				p {
					font-size: 18px;
					// margin: 0;
					// padding: 0;
					color: $knBlueShade1;
				}
				.image {
					// padding-top: 20px;
					text-align: center;
				}
			}
			.slides-wrap {
				position: relative;

				li {
					// position: absolute;
				}
			}
		}
		.slide-status {
			white-space: nowrap;
			width: 100%;
			text-align: center;
			display: none;
			margin: 0 0 15px;
			ul {
				padding: 0;
			}
			li {
				display: inline-block;
				margin: 0 10px;
				cursor: pointer;
				transition: 0.25s all ease-in-out;
				height: 7px;
				width: 7px;
				border-radius: 5px;
				background: #555;
				&.active {
					background: #efefef;
				}			
				&:hover {
					background: #eee;
				}
			}
		}
		h1 {
			white-space: normal;
		}
		.bullets {
			white-space: normal;
		}
	}

	.carousel-inner-prev {
		&:before {
			content: '';
			background: url('../media/images/nav_arrow_prev.png') no-repeat center center rgba(0,0,0,0.75);
			border-radius: 64px;
			border: rgba(0,0,0,1) solid 5px;
			
			width: 128px;
			height: 128px;
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			float: left;
			margin-top: -64px;
			opacity: 0.5;
			transition: 0.25s opacity ease-in-out;
			z-index: 2;
		}
		&:hover {
			&:before {
				opacity: 1;
				cursor: pointer;
			}
		}
		span {
			display: none;
		}
	}

	.carousel-inner-next {
		&:before {
			content: '';
			background: url('../media/images/nav_arrow_next.png') no-repeat center center rgba(0,0,0,0.75);
			border-radius: 64px;
			border: rgba(0,0,0,1) solid 5px;
			
			width: 128px;
			height: 128px;
			display: block;
			position: absolute;
			top: 50%;
			right: 0;
			float: right;
			margin-top: -64px;
			opacity: 0.5;
			transition: 0.25s opacity ease-in-out;
			z-index: 2;
		}
		&:hover {
			&:before {
				opacity: 1;
				cursor: pointer;
			}
		}
		span {
			display: none;
		}
	}



@include breakpoint(sm) {
	.carousel-inner-prev,
	.carousel-inner-next {
		&:before {
			background-size: cover !important;
			width: 64px !important;
			height: 64px !important;
			margin-top: -32px;
			padding: 10px;
		}
	}
}

@include breakpoint(xs) {
	.carousel-inner-prev,
	.carousel-inner-next {
		&:before {
			background-size: cover !important;
			width: 35px !important;
			height: 35px !important;
			margin-top: -18px;
			padding: 10px;
		}
	}
}


