#curtain-wrap {

	#curtain {
		background: rgba(25, 25, 25, 0) url(/media/images/logos/gr_logo_mini_black.png) center no-repeat;
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 0;
		min-height: 100%;
		width: auto;
		height: auto;
		
		transform: translateX(-50%) translateY(-50%);

		z-index: 99;

		transition: 0.3s all ease-in-out;

		&.active {
			min-width: 100%;
			background: rgba(25, 25, 25, 1) url(/media/images/logos/gr_logo_mini_black.png) center no-repeat;
		}
	}
}