#curtain-wrap {

	#curtain {
		background: rgba(50, 50, 0, 0);
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 0;
		min-height: 100%;
		width: auto;
		height: auto;
		
		transform: translateX(-50%) translateY(-50%);

		z-index: 1;

		transition: 0.3s all ease-in-out;

		&.active {
			min-width: 100%;
			background: rgba(50, 25, 0, 1);
		}
	}
}