#main-wrap {
	position: relative;
}

#main-wrap #logo {
	position: relative;
	width: 100%;
	margin: 20px auto;
	text-align: center;
	color: #fff;
	
	h1 {
		@include RobotoCondensed(100);
	}

	img {
		margin: 20px auto 0;
		
		
		width: 100%;
	}
}

#header-wrap {
	height: 100%;
	width: 100%;
}

#header-inner {
 //    position: absolute;
 //    top: 50%;
    margin-top: 25px;
	// width: 100%;
	// max-height: 75%;
}

@include breakpoint(xs) {
	#main-wrap #logo img {
		width: 70%;
	}
}

@include breakpoint(sm) {
	#main-wrap #logo img {
		width: 45%;
	}
}

@include breakpoint(md) {
	#main-wrap #logo img {
		width: 30%;
	}
}

@include breakpoint(lg) {
	#main-wrap #logo img {
		width: 15%;
	}
}