#timeline-wrap {
	background: #111;
	height: 100%;
	padding: 25px 0;
	h1 {
		color: $grYellow;
		@include RobotoCondensed;
	}
	ul {
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
		position: relative;
		
		/* event nodes */
		li.timeline-node {
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			display: block;
			width: 100%;
			&:nth-child(odd) .timeline-popover {
				float: left;
				&:before {
					content: '';
					border-left: 10px solid #444;
					border-right: 10px solid transparent;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					display: block;
					position: absolute;
				    right: -20px;
				    top: -1px;
					z-index: 1;

				}
			}
			&:nth-child(even) .timeline-popover {
				float: right;
				&:before {
					content: '';
					border-left: 10px solid transparent;
					border-right: 10px solid #444;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					display: block;
					position: absolute;
				    left: -20px;
				    top: -1px;
					z-index: 1;

				}
			}

			// mobile view
			@include breakpoint(xs) {
				&:nth-child(odd) .timeline-popover {
					&:before {
						border: 0;
					}
				}
				&:nth-child(even) .timeline-popover {
					&:before {
						border: 0;
					}
				}
			}

			.timeline-popover {
				background: #222;
				border: 1px solid #444;
				clear: both;
				width: 45%;
				padding: 25px;
				position: relative;
				z-index: 2;

				@include breakpoint(xs) {
					width: 100%;
				}

				h1 {
					@include RobotoCondensed;
					margin: 0;
					padding: 0;
					a {
						transition: all 0.2s ease-in-out;
						&:link {
							color: $grYellow;
							text-decoration: none;
						}
						&:hover {
							color: lighten($grYellow, 30%);
							cursor: pointer;
						}
						&:visited {
							color: darken($grYellow, 30%);
						}
					}
				}

				date {
					color: #f0f0f0;
					display: block;
					@include RobotoCondensed;
					padding: 5px 0;
					font-size: 18px;
				}
			}

			a {
				

				// &:before {
				// 	background: $grYellow;
				// 	height: 24px;
				// 	width: 24px;
				// 	border-radius: 24px;
				// 	position: absolute;
				// 	content: '';
				// }
				
				
			}
		}
	}
	/* timeline beanstalk */
	.timeline {
		position: relative;
		&:before {
			content: '';
			background: $grYellow;
			width: 4px;
			opacity: 0.5;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -2px;
		}

		.timeline-peg {
			position: absolute;
			background: $grYellow;
			width: 20px;
			height: 20px;
			left: 50%;
			margin-left: -10px;
			border-radius: 20px;
		}
	}
}