#vframe-video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background: url('/media/images/video_bg.png') no-repeat;
	background-size: cover;
	transition: 1s opacity;
}

#vframe {
	&:before {
		position: fixed;
		content: '';
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -99;
		transform: translateX(-50%) translateY(-50%);
		background: darken($grYellowWash, 30%);
		transition: 1s opacity;
	}
}
